/*Customized Spectre.css by
* -
* TechLabs
* We. Build. Digital Shapers.
* https://tech-labs.de
*/
.sp-accordion input:checked ~ .sp-accordion-header .sp-icon,
.sp-accordion[open] .sp-accordion-header .sp-icon
{
    -webkit-transform: rotate(90deg);            transform: rotate(90deg);
}

.sp-accordion input:checked ~ .sp-accordion-body,
.sp-accordion[open] .sp-accordion-body
{
    max-height: 50rem;
}

.sp-accordion .sp-accordion-header
{
    display: block; padding: .2rem .4rem;
}

.sp-accordion .sp-accordion-header .sp-icon
{
    transition: all .2s ease;
}

.sp-accordion .sp-accordion-body
{overflow: hidden; max-height: 0; 
    margin-bottom: .4rem; transition: max-height .2s ease;
}

summary.sp-accordion-header::-webkit-details-marker
{
    display: none;
}

.sp-badge
{
    position: relative; white-space: nowrap;
}

.sp-badge[data-badge]::after,
.sp-badge:not([data-badge])::after
{display: inline-block; content: attr(data-badge); -webkit-transform: translate(-.1rem, -.5rem);         transform: translate(-.1rem, -.5rem); color: #fff; border-radius: .5rem; 
    background: #fb1d5c; background-clip: padding-box; box-shadow: 0 0 0 .1rem #fff;
}

.sp-badge[data-badge]::after
{
    font-size: .7rem; line-height: 1; min-width: .9rem; height: .9rem; padding: .1rem .2rem; text-align: center; white-space: nowrap;
}

.sp-badge:not([data-badge])::after,
.sp-badge[data-badge='']::after
{width: 6px; min-width: 6px; 
    height: 6px; padding: 0;
}

.sp-badge.sp-btn::after
{
    position: absolute; top: 0; right: 0; -webkit-transform: translate(50%, -50%);         transform: translate(50%, -50%);
}

.sp-badge.sp-avatar::after
{
    position: absolute; z-index: 100; top: 14.64%; right: 14.64%; -webkit-transform: translate(50%, -50%);         transform: translate(50%, -50%);
}

.sp-badge.sp-avatar-xs::after
{width: .4rem; min-width: .4rem; height: .4rem; padding: 0; 

    content: '';
}

.sp-breadcrumb
{margin: .2rem 0; padding: .2rem 0; 

    list-style: none;
}

.sp-breadcrumb .sp-breadcrumb-item
{display: inline-block; margin: 0; padding: .2rem 0; 

    color: #667189;
}

.sp-breadcrumb .sp-breadcrumb-item:not(:last-child)
{
    margin-right: .2rem;
}

.sp-breadcrumb .sp-breadcrumb-item:not(:last-child) a
{
    color: #667189;
}

.sp-breadcrumb .sp-breadcrumb-item:not(:first-child)::before
{padding-right: .4rem; content: '/'; 

    color: #e7e9ed;
}

.sp-card
{display: flex; flex-direction: column; border: .05rem solid #e7e9ed; border-radius: .1rem; 
    background: #fff;
}

.sp-card .sp-card-header,
.sp-card .sp-card-body,
.sp-card .sp-card-footer
{
    padding: .8rem; padding-bottom: 0;
}

.sp-card .sp-card-header:last-child,
.sp-card .sp-card-body:last-child,
.sp-card .sp-card-footer:last-child
{
    padding-bottom: .8rem;
}

.sp-card .sp-card-image
{
    padding-top: .8rem;
}

.sp-card .sp-card-image:first-child
{
    padding-top: 0;
}

.sp-card .sp-card-image:first-child img
{
    border-top-left-radius: .1rem; border-top-right-radius: .1rem;
}

.sp-card .sp-card-image:last-child img
{border-bottom-right-radius: .1rem; 
    border-bottom-left-radius: .1rem;
}

.sp-chip
{font-size: 90%; line-height: .8rem; display: inline-flex; max-width: 100%; height: 1.2rem; margin: .1rem; padding: .2rem .4rem; vertical-align: middle; text-decoration: none; color: #667189; border-radius: 5rem; background: #f0f1f4; 

    align-items: center;
}

.sp-chip.sp-active
{color: #fff; 
    background: #fb1d5c;
}

.sp-chip .sp-avatar
{margin-right: .2rem; 
    margin-left: -.4rem;
}

.sp-popover
{position: relative; 

    display: inline-block;
}

.sp-popover .sp-popover-container
{position: absolute; z-index: 300; top: 0; 
    left: 50%; width: 320px; padding: .4rem; transition: -webkit-transform .2s ease; transition:         transform .2s ease; transition:         transform .2s ease, -webkit-transform .2s ease; -webkit-transform: translate(-50%, -50%) scale(0);         transform: translate(-50%, -50%) scale(0); opacity: 0;
}

.sp-popover *:focus + .sp-popover-container,
.sp-popover:hover .sp-popover-container,
.sp-popover .sp-popover-container:hover
{
    display: block; -webkit-transform: translate(-50%, -100%) scale(1);         transform: translate(-50%, -100%) scale(1); opacity: 1;
}

.sp-popover.sp-popover-right .sp-popover-container
{top: 50%; 
    left: 100%;
}

.sp-popover.sp-popover-right :focus + .sp-popover-container,
.sp-popover.sp-popover-right:hover .sp-popover-container,
.sp-popover.sp-popover-right .sp-popover-container:hover
{
    -webkit-transform: translate(0, -50%) scale(1);            transform: translate(0, -50%) scale(1);
}

.sp-popover.sp-popover-bottom .sp-popover-container
{top: 100%; 
    left: 50%;
}

.sp-popover.sp-popover-bottom :focus + .sp-popover-container,
.sp-popover.sp-popover-bottom:hover .sp-popover-container,
.sp-popover.sp-popover-bottom .sp-popover-container:hover
{
    -webkit-transform: translate(-50%, 0) scale(1);            transform: translate(-50%, 0) scale(1);
}

.sp-popover.sp-popover-left .sp-popover-container
{top: 50%; 
    left: 0;
}

.sp-popover.sp-popover-left :focus + .sp-popover-container,
.sp-popover.sp-popover-left:hover .sp-popover-container,
.sp-popover.sp-popover-left .sp-popover-container:hover
{
    -webkit-transform: translate(-100%, -50%) scale(1);            transform: translate(-100%, -50%) scale(1);
}

.sp-popover .sp-card
{border: 0; 
    box-shadow: 0 .2rem .5rem rgba(69, 77, 93, .3);
}

.sp-step
{
    display: flex; width: 100%; margin: .2rem 0; list-style: none; flex-wrap: nowrap;
}

.sp-step .sp-step-item
{position: relative; min-height: 1rem; margin-top: 0; text-align: center; 

    flex: 1 1 0;
}

.sp-step .sp-step-item:not(:first-child)::before
{position: absolute; top: 9px; left: -50%; width: 100%; height: 2px; content: ''; 

    background: #fb1d5c;
}

.sp-step .sp-step-item a
{display: inline-block; padding: 20px 10px 0; text-decoration: none; 

    color: #acb3c2;
}

.sp-step .sp-step-item a::before
{position: absolute; z-index: 1; top: .2rem; left: 50%; display: block; width: .6rem; height: .6rem; content: ''; -webkit-transform: translateX(-50%);         transform: translateX(-50%); border: .1rem solid #fff; border-radius: 50%; 
    background: #fb1d5c;
}

.sp-step .sp-step-item.sp-active a::before
{border: .1rem solid #fb1d5c; 
    background: #fff;
}

.sp-step .sp-step-item.sp-active ~ .sp-step-item::before
{
    background: #e7e9ed;
}

.sp-step .sp-step-item.sp-active ~ .sp-step-item a::before
{
    background: #e7e9ed;
}

.sp-tile
{display: flex; 

    align-content: space-between; align-items: flex-start;
}

.sp-tile .sp-tile-icon,
.sp-tile .sp-tile-action
{
    flex: 0 0 auto;
}

.sp-tile .sp-tile-content
{
    flex: 1 1 auto;
}

.sp-tile .sp-tile-content:not(:first-child)
{
    padding-left: .4rem;
}

.sp-tile .sp-tile-content:not(:last-child)
{
    padding-right: .4rem;
}

.sp-tile .sp-tile-title,
.sp-tile .sp-tile-subtitle
{
    line-height: 1rem;
}

.sp-tile.sp-tile-centered
{
    align-items: center;
}

.sp-tile.sp-tile-centered .sp-tile-content
{
    overflow: hidden;
}

.sp-tile.sp-tile-centered .sp-tile-title,
.sp-tile.sp-tile-centered .sp-tile-subtitle
{
    overflow: hidden; margin-bottom: 0; white-space: nowrap; text-overflow: ellipsis;
}

.sp-toast
{display: block; width: 100%; padding: .4rem; color: #fff; border: .05rem solid #454d5d; border-color: #454d5d; border-radius: .1rem; 
    background: rgba(69, 77, 93, .9);
}

.sp-toast.sp-toast-primary
{border-color: #fb1d5c; 
    background: rgba(251, 29, 92, .9);
}

.sp-toast.sp-toast-success
{border-color: #32b643; 
    background: rgba(50, 182, 67, .9);
}

.sp-toast.sp-toast-warning
{border-color: #ffb700; 
    background: rgba(255, 183, 0, .9);
}

.sp-toast.sp-toast-error
{border-color: #e85600; 
    background: rgba(232, 86, 0, .9);
}

.sp-toast a
{text-decoration: underline; 

    color: #fff;
}

.sp-toast a:focus,
.sp-toast a:hover,
.sp-toast a:active,
.sp-toast a.sp-active
{
    opacity: .75;
}

.sp-toast .sp-btn-clear
{
    margin: 4px -2px 4px 4px;
}

.sp-tooltip
{
    position: relative;
}

.sp-tooltip::after
{font-size: .7rem; position: absolute; z-index: 300; bottom: 100%; left: 50%; display: block; overflow: hidden; max-width: 320px; padding: .2rem .4rem; content: attr(data-tooltip); transition: all .2s ease; -webkit-transform: translate(-50%, .4rem);         transform: translate(-50%, .4rem); white-space: pre; text-overflow: ellipsis; pointer-events: none; opacity: 0; color: #fff; border-radius: .1rem; 
    background: rgba(69, 77, 93, .9);
}

.sp-tooltip:focus::after,
.sp-tooltip:hover::after
{-webkit-transform: translate(-50%, -.2rem);        transform: translate(-50%, -.2rem); 

    opacity: 1;
}

.sp-tooltip[disabled],
.sp-tooltip.sp-disabled
{
    pointer-events: auto;
}

.sp-tooltip.sp-tooltip-right::after
{
    bottom: 50%; left: 100%; -webkit-transform: translate(-.2rem, 50%);         transform: translate(-.2rem, 50%);
}

.sp-tooltip.sp-tooltip-right:focus::after,
.sp-tooltip.sp-tooltip-right:hover::after
{
    -webkit-transform: translate(.2rem, 50%);            transform: translate(.2rem, 50%);
}

.sp-tooltip.sp-tooltip-bottom::after
{top: 100%; 
    bottom: auto; -webkit-transform: translate(-50%, -.4rem);         transform: translate(-50%, -.4rem);
}

.sp-tooltip.sp-tooltip-bottom:focus::after,
.sp-tooltip.sp-tooltip-bottom:hover::after
{
    -webkit-transform: translate(-50%, .2rem);            transform: translate(-50%, .2rem);
}

.sp-tooltip.sp-tooltip-left::after
{right: 100%; 
    bottom: 50%; left: auto; -webkit-transform: translate(.4rem, 50%);         transform: translate(.4rem, 50%);
}

.sp-tooltip.sp-tooltip-left:focus::after,
.sp-tooltip.sp-tooltip-left:hover::after
{
    -webkit-transform: translate(-.2rem, 50%);            transform: translate(-.2rem, 50%);
}

@-webkit-keyframes loading
{
    0%
    {
        -webkit-transform: rotate(0deg);                transform: rotate(0deg);
    }
    100%
    {
        -webkit-transform: rotate(360deg);                transform: rotate(360deg);
    }
}

@keyframes loading
{
    0%
    {
        -webkit-transform: rotate(0deg);                transform: rotate(0deg);
    }
    100%
    {
        -webkit-transform: rotate(360deg);                transform: rotate(360deg);
    }
}

@-webkit-keyframes slide-down
{
    0%
    {
        -webkit-transform: translateY(-1.6rem);
                transform: translateY(-1.6rem); 

        opacity: 0;
    }
    100%
    {
        -webkit-transform: translateY(0);
                transform: translateY(0); 

        opacity: 1;
    }
}

@keyframes slide-down
{
    0%
    {
        -webkit-transform: translateY(-1.6rem);
                transform: translateY(-1.6rem); 

        opacity: 0;
    }
    100%
    {
        -webkit-transform: translateY(0);
                transform: translateY(0); 

        opacity: 1;
    }
}

.sp-text-primary
{
    color: #fb1d5c;
}

a.sp-text-primary:focus,
a.sp-text-primary:hover
{
    color: #fa044a;
}

.sp-text-secondary
{
    color: #fecad9;
}

a.sp-text-secondary:focus,
a.sp-text-secondary:hover
{
    color: #feb1c7;
}

.sp-text-gray
{
    color: #acb3c2;
}

a.sp-text-gray:focus,
a.sp-text-gray:hover
{
    color: #9ea6b7;
}

.sp-text-light
{
    color: #fff;
}

a.sp-text-light:focus,
a.sp-text-light:hover
{
    color: #f2f2f2;
}

.sp-text-success
{
    color: #32b643;
}

a.sp-text-success:focus,
a.sp-text-success:hover
{
    color: #2da23c;
}

.sp-text-warning
{
    color: #ffb700;
}

a.sp-text-warning:focus,
a.sp-text-warning:hover
{
    color: #e6a500;
}

.sp-text-error
{
    color: #e85600;
}

a.sp-text-error:focus,
a.sp-text-error:hover
{
    color: #cf4d00;
}

.sp-bg-primary
{color: #fff; 
    background: #fb1d5c;
}

.sp-bg-secondary
{
    background: #fed9e4;
}

.sp-bg-dark
{color: #fff; 
    background: #454d5d;
}

.sp-bg-gray
{
    background: #f8f9fa;
}

.sp-bg-success
{color: #fff; 
    background: #32b643;
}

.sp-bg-warning
{color: #fff; 
    background: #ffb700;
}

.sp-bg-error
{color: #fff; 
    background: #e85600;
}

.sp-c-hand
{
    cursor: pointer;
}

.sp-c-move
{
    cursor: move;
}

.sp-c-zoom-in
{
    cursor: zoom-in;
}

.sp-c-zoom-out
{
    cursor: zoom-out;
}

.sp-c-not-allowed
{
    cursor: not-allowed;
}

.sp-c-auto
{
    cursor: auto;
}

.sp-d-block
{
    display: block;
}

.sp-d-inline
{
    display: inline;
}

.sp-d-inline-block
{
    display: inline-block;
}

.sp-d-flex
{
    display: flex;
}

.sp-d-inline-flex
{
    display: inline-flex;
}

.sp-d-none,
.sp-d-hide
{
    display: none !important;
}

.sp-d-visible
{
    visibility: visible;
}

.sp-d-invisible
{
    visibility: hidden;
}

.sp-text-hide
{font-size: 0; line-height: 0; color: transparent; border: 0; 
    background: transparent; text-shadow: none;
}

.sp-text-assistive
{position: absolute; overflow: hidden; clip: rect(0, 0, 0, 0); width: 1px; height: 1px; margin: -1px; padding: 0; 

    border: 0;
}

.sp-divider,
.sp-divider-vert
{position: relative; 

    display: block;
}

.sp-divider[data-content]::after,
.sp-divider-vert[data-content]::after
{font-size: .7rem; display: inline-block; padding: 0 .4rem; content: attr(data-content); -webkit-transform: translateY(-.65rem);         transform: translateY(-.65rem); color: #acb3c2; 
    background: #fff;
}

.sp-divider
{height: .05rem; margin: .4rem 0; 

    border-top: .05rem solid #e7e9ed;
}

.sp-divider[data-content]
{
    margin: .8rem 0;
}

.sp-divider-vert
{
    display: block; padding: .8rem;
}

.sp-divider-vert::before
{position: absolute; top: .4rem; bottom: .4rem; left: 50%; display: block; content: ''; -webkit-transform: translateX(-50%);         transform: translateX(-50%); 

    border-left: .05rem solid #e7e9ed;
}

.sp-divider-vert[data-content]::after
{position: absolute; top: 50%; 
    left: 50%; padding: .2rem 0; -webkit-transform: translate(-50%, -50%);         transform: translate(-50%, -50%);
}

.sp-loading
{position: relative; min-height: .8rem; pointer-events: none; 

    color: transparent !important;
}

.sp-loading::after
{position: absolute; z-index: 1; top: 50%; left: 50%; display: block; width: .8rem; height: .8rem; margin-top: -.4rem; margin-left: -.4rem; content: ''; 
    -webkit-animation: loading 500ms infinite linear;            animation: loading 500ms infinite linear; border: .1rem solid #fb1d5c; border-top-color: transparent; border-right-color: transparent; border-radius: 50%;
}

.sp-loading.sp-loading-lg
{
    min-height: 2rem;
}

.sp-loading.sp-loading-lg::after
{width: 1.6rem; 
    height: 1.6rem; margin-top: -.8rem; margin-left: -.8rem;
}

.sp-clearfix::after
{display: table; 
    clear: both; content: '';
}

.sp-float-left
{
    float: left !important;
}

.sp-float-right
{
    float: right !important;
}

.sp-relative
{
    position: relative;
}

.sp-absolute
{
    position: absolute;
}

.sp-fixed
{
    position: fixed;
}

.sp-centered
{
    display: block; float: none; margin-right: auto; margin-left: auto;
}

.sp-flex-centered
{display: flex; 

    align-items: center; justify-content: center;
}

.sp-m-0
{
    margin: 0;
}

.sp-mb-0
{
    margin-bottom: 0;
}

.sp-ml-0
{
    margin-left: 0;
}

.sp-mr-0
{
    margin-right: 0;
}

.sp-mt-0
{
    margin-top: 0;
}

.sp-mx-0
{margin-right: 0; 
    margin-left: 0;
}

.sp-my-0
{margin-top: 0; 
    margin-bottom: 0;
}

.sp-m-1
{
    margin: .2rem;
}

.sp-mb-1
{
    margin-bottom: .2rem;
}

.sp-ml-1
{
    margin-left: .2rem;
}

.sp-mr-1
{
    margin-right: .2rem;
}

.sp-mt-1
{
    margin-top: .2rem;
}

.sp-mx-1
{margin-right: .2rem; 
    margin-left: .2rem;
}

.sp-my-1
{margin-top: .2rem; 
    margin-bottom: .2rem;
}

.sp-m-2
{
    margin: .4rem;
}

.sp-mb-2
{
    margin-bottom: .4rem;
}

.sp-ml-2
{
    margin-left: .4rem;
}

.sp-mr-2
{
    margin-right: .4rem;
}

.sp-mt-2
{
    margin-top: .4rem;
}

.sp-mx-2
{margin-right: .4rem; 
    margin-left: .4rem;
}

.sp-my-2
{margin-top: .4rem; 
    margin-bottom: .4rem;
}

.sp-p-0
{
    padding: 0;
}

.sp-pb-0
{
    padding-bottom: 0;
}

.sp-pl-0
{
    padding-left: 0;
}

.sp-pr-0
{
    padding-right: 0;
}

.sp-pt-0
{
    padding-top: 0;
}

.sp-px-0
{padding-right: 0; 
    padding-left: 0;
}

.sp-py-0
{padding-top: 0; 
    padding-bottom: 0;
}

.sp-p-1
{
    padding: .2rem;
}

.sp-pb-1
{
    padding-bottom: .2rem;
}

.sp-pl-1
{
    padding-left: .2rem;
}

.sp-pr-1
{
    padding-right: .2rem;
}

.sp-pt-1
{
    padding-top: .2rem;
}

.sp-px-1
{padding-right: .2rem; 
    padding-left: .2rem;
}

.sp-py-1
{padding-top: .2rem; 
    padding-bottom: .2rem;
}

.sp-p-2
{
    padding: .4rem;
}

.sp-pb-2
{
    padding-bottom: .4rem;
}

.sp-pl-2
{
    padding-left: .4rem;
}

.sp-pr-2
{
    padding-right: .4rem;
}

.sp-pt-2
{
    padding-top: .4rem;
}

.sp-px-2
{padding-right: .4rem; 
    padding-left: .4rem;
}

.sp-py-2
{padding-top: .4rem; 
    padding-bottom: .4rem;
}

.sp-rounded
{
    border-radius: .1rem;
}

.sp-circle
{
    border-radius: 50%;
}

.sp-text-left
{
    text-align: left;
}

.sp-text-right
{
    text-align: right;
}

.sp-text-center
{
    text-align: center;
}

.sp-text-justify
{
    text-align: justify;
}

.sp-text-lowercase
{
    text-transform: lowercase;
}

.sp-text-uppercase
{
    text-transform: uppercase;
}

.sp-text-capitalize
{
    text-transform: capitalize;
}

.sp-text-normal
{
    font-weight: normal;
}

.sp-text-bold
{
    font-weight: bold;
}

.sp-text-italic
{
    font-style: italic;
}

.sp-text-large
{
    font-size: 1.2em;
}

.sp-text-ellipsis
{
    overflow: hidden; white-space: nowrap; text-overflow: ellipsis;
}

.sp-text-clip
{
    overflow: hidden; white-space: nowrap; text-overflow: clip;
}

.sp-text-break
{word-wrap: break-word; word-break: break-word; 
    -webkit-hyphens: auto;            hyphens: auto;        -ms-hyphens: auto;
}

.sp-meter
{display: block; width: 100%; height: .8rem; border: 0; border-radius: .1rem; background: #f8f9fa; 

    -webkit-appearance: none;       -moz-appearance: none;            appearance: none;
}

.sp-meter::-webkit-meter-inner-element
{
    display: block;
}

.sp-meter::-webkit-meter-bar,
.sp-meter::-webkit-meter-optimum-value,
.sp-meter::-webkit-meter-suboptimum-value,
.sp-meter::-webkit-meter-even-less-good-value
{
    border-radius: .1rem;
}

.sp-meter::-webkit-meter-bar
{
    background: #f8f9fa;
}

.sp-meter::-webkit-meter-optimum-value
{
    background: #32b643;
}

.sp-meter::-webkit-meter-suboptimum-value
{
    background: #ffb700;
}

.sp-meter::-webkit-meter-even-less-good-value
{
    background: #e85600;
}

.sp-meter::-moz-meter-bar,
.sp-meter:-moz-meter-optimum,
.sp-meter:-moz-meter-sub-optimum,
.sp-meter:-moz-meter-sub-sub-optimum
{
    border-radius: .1rem;
}

.sp-meter:-moz-meter-optimum::-moz-meter-bar
{
    background: #32b643;
}

.sp-meter:-moz-meter-sub-optimum::-moz-meter-bar
{
    background: #ffb700;
}

.sp-meter:-moz-meter-sub-sub-optimum::-moz-meter-bar
{
    background: #e85600;
}

.sp-off-canvas
{position: relative; 

    display: flex; width: 100%; height: 100%; flex-flow: nowrap;
}

.sp-off-canvas .sp-off-canvas-toggle
{position: absolute; z-index: 1; top: .4rem; left: .4rem; 

    display: block; transition: none;
}

.sp-off-canvas .sp-off-canvas-sidebar
{position: fixed; z-index: 200; top: 0; bottom: 0; left: 0; overflow-y: auto; min-width: 10rem; transition: -webkit-transform .25s ease; transition:         transform .25s ease; transition:         transform .25s ease, -webkit-transform .25s ease; -webkit-transform: translateX(-100%);         transform: translateX(-100%); 

    background: #f8f9fa;
}

.sp-off-canvas .sp-off-canvas-content
{height: 100%; padding: .4rem .4rem .4rem 4rem; 

    flex: 1 1 auto;
}

.sp-off-canvas .sp-off-canvas-overlay
{position: fixed; top: 0; right: 0; bottom: 0; left: 0; display: none; width: 100%; height: 100%; border-color: transparent; border-radius: 0; 
    background: rgba(69, 77, 93, .1);
}

.sp-off-canvas .sp-off-canvas-sidebar:target,
.sp-off-canvas .sp-off-canvas-sidebar.sp-active
{
    -webkit-transform: translateX(0);            transform: translateX(0);
}

.sp-off-canvas .sp-off-canvas-sidebar:target ~ .sp-off-canvas-overlay,
.sp-off-canvas .sp-off-canvas-sidebar.sp-active ~ .sp-off-canvas-overlay
{z-index: 100; 

    display: block;
}

@media (min-width: 960px)
{
    .sp-off-canvas.sp-off-canvas-sidebar-show .sp-off-canvas-toggle
    {
        display: none;
    }
    .sp-off-canvas.sp-off-canvas-sidebar-show .sp-off-canvas-sidebar
    {position: relative; -webkit-transform: none;         transform: none; 

        flex: 0 0 auto;
    }
}

.sp-progress
{position: relative; width: 100%; height: .2rem; color: #fb1d5c; border: 0; border-radius: .1rem; background: #f0f1f4; 

    -webkit-appearance: none;       -moz-appearance: none;            appearance: none;
}

.sp-progress::-webkit-progress-bar
{border-radius: .1rem; 
    background: transparent;
}

.sp-progress::-webkit-progress-value
{border-radius: .1rem; 
    background: #fb1d5c;
}

.sp-progress::-moz-progress-bar
{border-radius: .1rem; 
    background: #fb1d5c;
}

.sp-progress:indeterminate
{
    -webkit-animation: progress-indeterminate 1.5s linear infinite;            animation: progress-indeterminate 1.5s linear infinite; background: #f0f1f4 linear-gradient(to right, #fb1d5c 30%, #f0f1f4 30%) top left/150% 150% no-repeat;
}

.sp-progress:indeterminate::-moz-progress-bar
{
    background: transparent;
}

@-webkit-keyframes progress-indeterminate
{
    0%
    {
        background-position: 200% 0;
    }
    100%
    {
        background-position: -200% 0;
    }
}

@keyframes progress-indeterminate
{
    0%
    {
        background-position: 200% 0;
    }
    100%
    {
        background-position: -200% 0;
    }
}

.sp-timeline .sp-timeline-item
{position: relative; 

    display: flex; margin-bottom: 1.2rem;
}

.sp-timeline .sp-timeline-item::before
{position: absolute; top: 1.2rem; left: 11px; width: 2px; height: 100%; content: ''; 

    background: #e7e9ed;
}

.sp-timeline .sp-timeline-item .sp-timeline-left
{
    flex: 0 0 auto;
}

.sp-timeline .sp-timeline-item .sp-timeline-content
{padding: 2px 0 2px .8rem; 

    flex: 1 1 auto;
}

.sp-timeline .sp-timeline-item .sp-timeline-icon
{display: block; width: 1.2rem; height: 1.2rem; text-align: center; color: #fff; 
    border-radius: 50%;
}

.sp-timeline .sp-timeline-item .sp-timeline-icon::before
{position: absolute; top: .4rem; left: .4rem; display: block; width: .4rem; height: .4rem; content: ''; 

    border: .1rem solid #fb1d5c; border-radius: 50%;
}

.sp-timeline .sp-timeline-item .sp-timeline-icon.sp-icon-lg
{line-height: 1rem; 

    background: #fb1d5c;
}

.sp-timeline .sp-timeline-item .sp-timeline-icon.sp-icon-lg::before
{
    content: none;
}
