
#well{
	position: relative; 
	margin-left:-44px; 
	margin-top:40px;
}

#id01 {
	position:absolute;
	left:0px;
	top:0px;
	width:78px;
	height:8px;
}

#id02 {
	position:absolute;
	left:78px;
	top:0px;
	width:165px;
	height:8px;
}

#id03 {
	position:absolute;
	left:243px;
	top:0px;
	width:114px;
	height:8px;
}

#id04 {
	position:absolute;
	left:357px;
	top:0px;
	width:164px;
	height:8px;
}

#id05 {
	position:absolute;
	left:521px;
	top:0px;
	width:79px;
	height:8px;
}

#id06 {
	position:absolute;
	left:0px;
	top:8px;
	width:78px;
	height:132px;
}

#id07 {
	position:absolute;
	left:78px;
	top:8px;
	width:165px;
	height:132px;
}

#id08 {
	position:absolute;
	left:243px;
	top:8px;
	width:114px;
	height:132px;
}

#id09 {
	position:absolute;
	left:357px;
	top:8px;
	width:164px;
	height:132px;
}

#id10 {
	position:absolute;
	left:521px;
	top:8px;
	width:79px;
	height:132px;
}

#id11 {
	position:absolute;
	left:0px;
	top:140px;
	width:78px;
	height:44px;
}

#id12 {
	position:absolute;
	left:78px;
	top:140px;
	width:165px;
	height:44px;
}

#id13 {
	position:absolute;
	left:243px;
	top:140px;
	width:114px;
	height:44px;
}

#id14 {
	position:absolute;
	left:357px;
	top:140px;
	width:164px;
	height:44px;
}

#id15 {
	position:absolute;
	left:521px;
	top:140px;
	width:79px;
	height:44px;
}

#id16 {
	position:absolute;
	left:0px;
	top:184px;
	width:78px;
	height:135px;
}

#id17 {
	position:absolute;
	left:78px;
	top:184px;
	width:165px;
	height:135px;
}

#id18 {
	position:absolute;
	left:243px;
	top:184px;
	width:114px;
	height:135px;
}

#id19 {
	position:absolute;
	left:357px;
	top:184px;
	width:164px;
	height:135px;
}

#id20 {
	position:absolute;
	left:521px;
	top:184px;
	width:79px;
	height:135px;
}